version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: dimaskece
      POSTGRES_DB: datanilaikuliah
      POSTGRES_USER: dimaskece    # username PostgreSQL
    ports:
      - "5433:5432"  # host port 5433, container tetap 5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    volumes:
      - ./:/var/www/html
      - ./docker/php.ini:/usr/local/etc/php/conf.d/custom.ini
    ports:
      - "9000:9000"
    depends_on:
      - postgres

volumes:
  postgres-data: